.assignment {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    text-transform: uppercase;
    background-color: #f9f6f4;
    box-shadow: 15px 15px 70px grey;
    border-radius: 12px;
    padding-left: 20px;
}

.entries {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.inputfield1 {
    width: 486px;
    height: 40px;
    font-size: 1.6rem;
    outline: none;
    border: 1px solid grey;
    border-radius: 8px;
    padding-left: 1rem;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.inputfield2 {
    width: 500px;
    height: 40px;
    font-size: 1.6rem;
}

.fieldcontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 93%;
    border-radius: 8px;
}

.fieldcontainer select {
    width: 100%;
    height: 47px;
    font-size: 1.2rem;
    -webkit-appearance: none;
    background: url(chevron-forLinuxServer.PNG) 98.5% 50% no-repeat;
    background-size: 30px 20px;
    padding-left: 1rem;
    border: 1px solid grey;
    border-radius: 8px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: grey;
}

.fieldcontainer select option {
    font-size: 1.6rem;
}

/*here begins style of calendar */

.calendar {
    width: 100%;
    height: 43px;
    font-size: 1.2rem;
    outline: none;
    padding-left: 1rem;
    border: 1px solid grey;
    border-radius: 8px;
    -webkit-appearance: none;
}

[type="date"] {
    background: #fff url(icons8-calendar-150-forLinuxServer.PNG) 98.5% 50% no-repeat;
    background-size: 30px 30px;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    color: gray;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* style of description area*/

textarea {
    font-size: 20px;
    margin-bottom: 2rem;
    height: 150px;
    width: 478px;
    border: 1 px solid grey;
    outline: none;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.assigned-to-container {
    width: 490px;
    height: 152px;
    position: relative;
}

.assigned-to-profile {
    position: absolute;
    background-color: blue;
    width: 60px;
    height: 60px;
    top: 40px;
    left: 15px;
    bottom: 25px;
    border-radius: 50%;
}

.assigned-to-profile img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    transform: scale(1);
    transition: 1s ease-in-out;
    cursor: pointer;
}

.assigned-to-profile img:hover {
    transform: scale(1.5);
    transition: 1s ease-in-out;
}

.assigned-to-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 85px;
    top: 55px;
    cursor: pointer;
}

.cancel {
    position: absolute;
    right: 150px;
    bottom: 0.5rem;
    cursor: pointer;
    padding: 1rem;
}

.addtask-userlist {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 70px;
    width: 89%; 
    background-color: #012744; 
    border-radius: 10px; 
    transform: translateY(-80px);
    padding: 15px; 
    color: white;
    font-size: 9px; 
    overflow-y: scroll; 
    flex-wrap: wrap;
}

.addtask-userlist img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.addtask-assigned-userlist {
    display: flex;
    height: 50px;
    overflow-y: scroll;
    flex-wrap: wrap;
    max-width: 45%; 
}

.addtask-assigned-userlist img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover; 
}

.people {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px; 
    max-width: 50px; 
    line-height: 14px;
    text-align: center; 
    cursor: pointer;
}

.people-assigned {
    display: flex;
    align-items: center;
    font-size: 8px;
    flex-direction: column;
    margin-right: 6px; 
    width: 40px; 
    line-height: 13px;
    text-align: center;
    height: 90px;
}

.people-assigned img {
    object-fit: cover; 
}

/*create Task Button design */

.createtaskbtn {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1.5rem;
    background-color: #012744;
    border-radius: 12px;
    box-shadow: 15px 15px 70px grey;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: ease-in-out 1.5s;
}

/*Create Taskbutton Hover*/

.createtaskbtn:hover {
    transform: rotateX(360deg);
}

.createtaskbtn span {
    display: flex;
    color: rgba(185, 185, 185);
    transform-style: preserve-3d;
    transform: perspective(100px) translateZ(20px);
}

.btnanimatediv:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 6px;
    right: 6px;
    bottom: 4px;
    border: 2px solid rgba(185, 185, 185);
    border-radius: 12px;
    padding: 1rem;
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(15px);
}

.btnanimatediv:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 6px;
    right: 6px;
    bottom: 4px;
    border: 2px solid rgba(185, 185, 185);
    border-radius: 12px;
    padding: 1rem;
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(-15px);
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

@media(max-width: 1680px) {
    .container-upload {
        width: 45%;
        margin-left: -22px;
    }
    .registrate-container {
        margin-left: 24px;
    }
}

@media(max-width: 950px) {
    .container-upload {
        width: 40%;
    }
    .createtaskbtn {
        right: 100px;
    }
}

/* Responsive Design */

@media(min-width: 1415px) {
    textarea {
        width: 88%;
    }
    .inputfield1 {
        width: 90%;
    }

    .cancel {
        top: 70px;
    }
}

@media(max-width: 1300px) {
    .inputfield1 {
        width: 85%;
    }
    .fieldcontainer {
        width: 89%;
    }
    textarea {
        width: 83%;
    }
    .createtaskbtn {
        right: 46px;
    }
    .cancel {
        right: 194px;
    }
    .addtask-userlist {
        width: 80%; 
    }
}

@media(max-width: 1170px) {
    .createtaskbtn {
        right: 90px;
    }
    .cancel {
        right: 234px;
    }

    .addtask-userlist {
        width: 75%; 
    }
}

@media(max-width: 1100px) {
    .createtaskbtn {
        right: 140px;
    }
    .cancel {
        right: 325px;
    }
    .addtask-userlist {
        width: 70%; 
    }
}

@media(max-width: 1020px) {
    .createtaskbtn {
        right: 160px;
    }
    .addtask-userlist {
        width: 63%; 
    }
}
@media(max-width: 970px) {
    .createtaskbtn {
        right: 190px;
    }
    .addtask-userlist {
        width: 58%; 
    }
}

@media(max-width: 940px) {
    .createtaskbtn {
        right: 176px;
    }
    .cancel {
        left: -15px; 
    }
    .assigned-to-plus {
        left: 0px;
    }
    .addtask-userlist {
        width: 52%; 
    }
}

@media(max-width: 920px) {
    .createtaskbtn {
        right: 200px;
    }
    .cancel {
        right: 410px; 
    }
}

@media(max-width: 880px) {
    .createtaskbtn {
        right: 220px;
    }

@media(max-width: 850px) {
    .assignment {
        flex-direction: column;
        padding: 20px;
        width: 95%;
    }
    .fieldcontainer {
        position: initial;
        width: 93%;
    }
    .entries {
        width: 100%;
    }
    .inputfield1 {
        width: 91%;
    }
    textarea {
        width: 89%;
        font-family: 'Poppins', sans-serif;
    }
    [type="date"] {
        background: #fff url(icons8-calendar-150-forLinuxServer.PNG) 98.5% 50% no-repeat;
        background-size: 30px 30px;
        z-index: 0;
    }
    .assigned-to-container {
        width: 93%;
        height: 80px;
        position: relative;
        margin-bottom: 20px;
    }
    .assigned-to-profile {
        top: 18px;
        left: 0px;
    }
    .assigned-to-plus {
        top: 79px !important;
        left: 70px;
    }
    .addtask-userlist {
        width: 95%; 
        transform: translateY(-255px);
    }

    .cancel {
        top: 70px;
    }
}

@media(max-width: 740px) {
    .assignment {
        width: 94%;
    }
    .assigned-to-plus {
        left: 70px;
    }
}
@media(max-width: 650px) {
    .assignment {
        width: 93%;
    }
    .inputfield1 {
        width: 96%;
    }
    textarea {
        width: 93%;
    }
    .fieldcontainer {
        width: 98.5%;
    }
}
@media(max-width: 628px) {
    .createtaskbtn {
        right: -28px;
    }
    .cancel {
        position: absolute;
        cursor: pointer;
        left: -11px;
    }
    .assigned-to-plus {
        left: 70px;
    }
}
@media(max-width: 450px) {
    .fieldcontainer {
        width: 100% !important;
    }
    .assignment {
        width: 89%;
    }
    .inputfield1 {
        width: 94%;
    }
    textarea {
        width: 90%;
    }
    .assigned-to-profile {
        top: 8px;
    }
    .assigned-to-plus {
        left: 70px;
    }
    .mobile-assigned {
        margin-top: -26px;
    }
}
}