.board-menu {
    display: flex;
    justify-content: space-between;
}

.task {
    width: 18vw;
    height: 500px;
    margin-top: 10px;
}

.task-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}

.text-center {
    text-align: center;
}

.board-bold {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #012744;
}

@media(max-width: 850px) {
    .task-container {
        margin-right: 0px; 
    }

    .task {
        width: 21.5vw;
    }

}