.board-menu {
    display: flex;
    justify-content: space-between;
}

.task {
    width: 18vw;
    min-height: 85vh;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 15px 15px 70px grey;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.task-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}

.text-center {
    text-align: center;
}

.board-bold {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #012744;
    text-shadow: 15px 15px 30px grey;
}

.container-board {
    width: 75%;
    background-color: white;
    border-radius: 12px;
    border: none;
    /*border-left: 12px solid teal;*/
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px; 
    box-shadow: 0px 0px 4px lightgray; 
    margin-bottom: 10px; 
}

.img-board {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.board-bold {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.date-img-container {
    justify-content: space-between;
    align-items: center;
}

.date-board {
    font-size: 10px; 
    flex-direction: reverse;
    display: flex; 
    flex-direction: row-reverse;
}

.dustbin img{
width: 20px; 
cursor: pointer;
}

[draggable = true] {
    cursor:move;
}



@media(max-width: 1150px) {
    .container-board {
        width: 62%; 
    }
}

@media(max-width: 850px) {
    .task-container {
        margin-right: 0px;
    }
    .task {
        width: 21.5vw;
        min-height: 60vh;
    }
}

@media(max-width: 650px) {
    .container-board {
        width: 85%; 
    }
}

@media(max-width: 400px) {
    .container-board {
        width: 75%; 
    }
}