.help {
    width: 80%; 
}

.text-help {
    margin-top: 15px; 
    margin-bottom: 25px; 
}

.explain1 {
    margin-bottom: 25px; 
}

.video-size {
    width: 700px;
    height: 400px;
}

.top {
    margin-top: 10px; 
}

.text-uppercase {
    text-transform: uppercase; 
    font-size: 1.4rem; 
    line-height: 2rem; 
}

@media(max-width: 900px) {
    .help {
        width: 100%; 
    }
    .video-size {
        width: 650;
        height: 350;
    }
}

@media(max-width: 780px) {
    .help {
        width: 100%; 
    }
    .video-size {
        width: 650px;
        height: 350px;
    }
}

@media(max-width: 690px) {
    .video-size {
        width: 610px;
        height: 345px;
    }
}

@media(max-width: 650px) {
    .video-size {
        width: 560px;
        height: 325px;
    }
}

@media(max-width: 615px) {
    .video-size {
        width: 530px;
        height: 300px;
    }
}

@media(max-width: 570px) {
.video-size {
    width: 470px;
    height: 300px;
}
}

@media(max-width: 520px) {
    .video-size {
        width: 440px;
        height: 280px;
    }
}

@media(max-width: 520px) {
    .video-size {
        width: 440px;
        height: 250px;
    }
}

@media(max-width: 480px) {
    .video-size {
        width: 400px;
        height: 220px;
    }
}

@media(max-width: 445px) {
    .video-size {
        width: 365px;
        height: 200px;
    }
}

@media(max-width: 410px) {
    .video-size {
        width: 350px;
        height: 180px;
    }
}

@media(max-width: 390px) {
    .video-size {
        width: 320px;
        height: 160px;
    }
}

@media(max-width: 350px) {
    .video-size {
        width: 280px;
        height: 140px;
    }
}