
.always {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:3rem;
}

.signincard {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    width:400px;
    height:500px;
    background-color: #f9f6f4;
    box-shadow:15px 15px 80px black;
    border-radius: 12px;
}

.signinhead {
    font-size:1.6rem;
    padding:2rem;
    margin-left:1rem;
    color:#012744;
    text-shadow:10px 10px 20px #012744;
}

.logincardlogo {
    display:flex;
    justify-content: center;
    align-items:center;
    width:100px;
    height:100px;
    background-color: #012744 ;
    border-radius:12px;
    box-shadow:10px 10px 20px #012744;
    
}


.signincard input {
    width:200px;
    height:40px;
    font-size:1.6rem;
    text-align:center;
    margin:0.5rem;
    outline:none;
    border:1px solid grey;
    border-radius:8px;
}

.signinbtn {
    padding: 1rem 3rem;
    color: white;
    background-color: #012744;
    border-radius: 12px;
    cursor: pointer;
    margin-top:2rem;
    box-shadow:10px 10px 20px #012744;
}

.signinbtn:hover {
    background-image: radial-gradient(#012744, lightblue);
}

.signup {
    margin-top:2rem;
}

.signup a {
    text-decoration:none;
    color: #af1616;
}