body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Poppins', sans-serif !important;
}

.main {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar {
    background-color: #012744;
    /* #1b2d91; */
    height: 100vh;
    width: 100px;
    position: fixed;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 20px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sidebar-navigation {
    flex-direction: column;
    color: white;
    font-size: 15px;
}

.sidebar-logo {
    width: 30px;
    margin-bottom: 5rem;
    margin-left: 20px;
}

.sidebar-logo img {
    width: 50px;
    height: 50px;
}

.opacity {
    opacity: 0;
}

.navigation-row {
    margin-bottom: 1.5rem;
    z-index: 2;
}

.navigation-row a {
    margin-left: 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.navigation-row:hover {
    border-left: 8px solid white;
}

.square {
    border-left: 8px solid white;
}

.sidebar-profile {
    padding-bottom: 53px;
    padding-left: 30px;
    padding-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sidebar-profile img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: 1.5px solid white;
    margin-bottom: 8px;
}

.logoutbtn {
    padding: 1rem 2rem;
    color: white;
    background-color: #f9f6f4;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 2rem;
    box-shadow: 10px 10px 20px #000;
    transform-style: preserve-3d;
    transition: 1.5s ease-in-out;
}

.logoutbtnanimatediv span {
    display: flex;
    color: rgba(185, 185, 185);
    transform-style: preserve-3d;
    transform: perspective(100px) translateZ(20px);
}

.logoutbtnanimatediv:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 6px;
    right: 6px;
    bottom: 4px;
    border: 2px solid grey;
    border-radius: 12px;
    padding: 1rem;
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(15px);
}

.logoutbtnanimatediv:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 6px;
    right: 6px;
    bottom: 4px;
    border: 2px solid grey;
    border-radius: 12px;
    padding: 1rem;
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(-15px);
}

.logoutbtn:hover {
    transform: rotateX(360deg);
}

.logoutlink {
    text-decoration: none;
}

.transform {
    transition: all 2s ease;
}

/*Responsive Design*/

@media(max-width: 850px) {
    .sidebar {
        height: 60px;
        width: 100vw;
        position: fixed;
        padding-top: 24px;
        padding-right: 20px;
        padding-bottom: 20px;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row !important;
    }
    .d-flex-responsive {
        display: flex;
    }
    .hamburger-menu {
        padding-right: 20px;
        cursor: pointer;
    }
    .hamburger-menu img {
        width: 50px;
    }
    .box-transparent {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100vw;
        height: 100vh;
        display: flex;
        z-index: 1;
        justify-content: flex-end;
        position: fixed;
    }
    .total-size {
        width: 100vw;
        height: 100vh;
        position: absolute;
    }
    .responsive-menu {
        width: 25%;
        background-color: #012744;
        justify-content: end;
        padding-top: 130px;
        color: white;
        transform: transition(-50%) translateY(-50%);
        transition: 0.6s;
    }
    .responsive-menu a {
        color: white;
        text-decoration: none;
    }
    .navigation-row {
        margin-left: 20px;
    }
    .sidebar-profile {
        margin-top: 30px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.sidebar-logo {
    padding-left: 22px;
}

@media(max-width: 650px) {
    .hamburger-menu {
        padding-right: 20px;
    }
    .board-menu {
        flex-direction: column;
    }
    .task {
        width: 100%;
        height: 180px;
        margin-bottom: 25px;
    }
    .responsive-menu {
        width: 50%;
    }
}

@media(max-width: 400px) {
    .responsive-menu {
        width: 50%;
    }
    .hamburger-menu {
        padding-right: 20px;
    }
    .navigation-row {
        font-size: 18px;
    }
    .btn-logout-menu {
        font-size: 18px;
    }
    .board-menu {
        flex-direction: column;
    }
    .task {
        width: 100%;
        height: 180px;
        margin-bottom: 25px;
    }
}

@media(min-width: 850px) {
    .d-none-big {
        display: none;
    }
}